.container {
  padding: 0 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.aboutInner {
  max-width: 900px;
    margin: 0 auto;
}

.aboutTitle {
  font-weight: 300;
}

.aboutText {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 25px;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.project {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 80px;
}

@media screen and (max-width: 960px) {
  .project {
    width: 100%;
  }
}
.project_info {
  max-width: 450px;
  margin: 0 auto;
}

.project_info h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project_info span {
  color: #BBBBBB;
  font-weight: 300;
  font-size: 0.8rem;
}
.project_box {
background-size: cover;
background-position: center center;

max-width: 100%;
margin: 0 auto;
transition: background-position 1s;
}
.project_box:hover {
  background-position: 90% 30%;
}
.project:nth-child(even) .project_box {
  height: 600px;
  width: 450px;
}

.project:nth-child(odd)  .project_box{
  height: 650px;
  width: 450px;
}

.project:nth-child(3n+1)  .project_box{
  height: 450px;
  width: 450px;
}

.project:nth-child(5n+1)  .project_box{
  height: 550px;
  width: 450px;
}

.separator {
  display: block;
  height: 100px;
}
.pp {
  background-color: #F9F7F7;
  padding: 30px;
}
.col_50 {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}

.text__box {
  padding-left: 50px;
}
.title {
  font-weight: 300;
  font-size: 2.5rem;
  color: #242528;
  letter-spacing: 15px;
  left: 0;
  max-width: 450px;
  right: 0;
  margin-left: 0;
  margin-right: auto;
  z-index: 1;
}

.paragraph {
margin: 20px 0 30px 0;
  font-weight: 300;
}

.button {
  margin: 20px 0 20px 0;
  border: 1px solid #242528;
  color: #242528;
  padding: 15px 30px;
}

@media screen and (max-width: 960px) {
  .col_50 {
    width: 100%;
    margin-bottom: 50px;
  }
}
