.container {
  padding: 0 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.aboutInner {
  max-width: 100%;
    margin: 0 auto;
      background-color: #F9F7F7;
}

.pp {
  padding: 30px;
}
.logo {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -10px;
}

.logo img {
    width: 50%;
    box-sizing: border-box;
}

.aboutTitle {
  font-weight: 300;
}

.aboutText {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 25px;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.project {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 80px;
}

@media screen and (max-width: 960px) {
  .project {
    width: 100%;
  }
}
.project_info {
  max-width: 450px;
  margin: 0 auto;
}

.project_info h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project_info span {
  color: #BBBBBB;
  font-weight: 300;
  font-size: 0.8rem;
}
.project_box {
background-size: cover;
background-position: center center;

max-width: 100%;
margin: 0 auto;
transition: opacity 1s;
}
.project_box:hover {
  opacity: 0.8;
}
.project .project_box {
  height: 450px;
  width: 800px;
}


.separator {
  display: block;
  height: 100px;
}

.col_50 {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 960px) {
.text__box {
  padding-left: 100px;
}
}
.title {
  font-weight: 300;
  font-size: 1.5rem;
  color: #242528;
  letter-spacing: 15px;
  left: 0;
  width: 50%;
  right: 0;
  margin-left: 0;
  margin-right: auto;
  z-index: 1;
  box-sizing: border-box;
  padding-left: 15px;
}
.title span:nth-of-type(1) {
  letter-spacing: 10px;
}
.title span:nth-of-type(2) {
  letter-spacing: 29px;
}
.title span:nth-of-type(3) {
  letter-spacing: 11.5px;
}

.paragraph {
margin: 20px 0 30px 0;
  font-weight: 300;
}

.button {
  margin: 20px 0 20px 0;
  border: 1px solid #242528;
  color: #242528;
  padding: 15px 30px;
}

@media screen and (max-width: 960px) {
  .col_50 {
    width: 100%;
    margin-bottom: 50px;
  }
.paragraph {
  text-align: center;
  font-size: 0.8rem;
}
.logo {
  margin: 0 auto;
}

.logo img {
  max-width: 100px;

}

.title {
  font-size: 1rem;
}
.title span:nth-of-type(2) {
  letter-spacing: 25px;
}

.title span:nth-of-type(3) {
  letter-spacing: 11px;
}
  .button {
    padding: 13px 5px;
    margin: 20px auto;
    width: 163px;
    font-size: 0.8rem;
    display: block;
    text-align: center;
  }
}
